<?xml version="1.0"?>
<!--
    @category   Webinterpret
    @package    Webinterpret_Connector
    @author     Webinterpret Team <info@webinterpret.com>
    @license    http://opensource.org/licenses/osl-3.0.php
-->
<config>
    <modules>
        <Webinterpret_Connector>
            <version>1.3.4.0</version>
        </Webinterpret_Connector>
    </modules>
    <global>
        <models>
            <webinterpret_connector>
                <class>Webinterpret_Connector_Model</class>
            </webinterpret_connector>
        </models>
        <blocks>
            <webinterpret_connector>
                <class>Webinterpret_Connector_Block</class>
            </webinterpret_connector>
        </blocks>
        <helpers>
            <webinterpret_connector>
                <class>Webinterpret_Connector_Helper</class>
            </webinterpret_connector>
        </helpers>
        <events>
            <admin_system_config_changed_section_webinterpret_connector>
                <observers>
                    <webinterpret_connector_admin_system_config_changed_section_webinterpret_connector>
                        <type>singleton</type>
                        <class>Webinterpret_Connector_Model_Observer</class>
                        <method>hookIntoAdminSystemConfigChangedSectionWebinterpretConnector</method>
                    </webinterpret_connector_admin_system_config_changed_section_webinterpret_connector>
                </observers>
            </admin_system_config_changed_section_webinterpret_connector>
            <adminhtml_init_system_config>
                <observers>
                    <webinterpret_adminhtml_init_system_config>
                        <type>singleton</type>
                        <class>Webinterpret_Connector_Model_Observer</class>
                        <method>hookIntoAdminhtmlInitSystemConfig</method>
                    </webinterpret_adminhtml_init_system_config>
                </observers>
            </adminhtml_init_system_config>
            <webinterpret_connector_notifications_before>
                <observers>
                    <webinterpret_connector_notifications_before>
                        <type>singleton</type>
                        <class>Webinterpret_Connector_Model_Observer</class>
                        <method>hookIntoWebinterpretConnectorNotificationsBefore</method>
                    </webinterpret_connector_notifications_before>
                </observers>
            </webinterpret_connector_notifications_before>
            <catalog_controller_product_init>
                <observers>
                    <webinterpret_catalog_controller_product_init>
                        <type>singleton</type>
                        <class>Webinterpret_Connector_Model_Observer</class>
                        <method>hookIntoProductInit</method>
                    </webinterpret_catalog_controller_product_init>
                </observers>
            </catalog_controller_product_init>
            <controller_front_init_before>
                <observers>
                    <webinterpret_controller_front_init_before>
                        <type>object</type>
                        <class>Webinterpret_Connector_Helper_Autoloader</class>
                        <method>createAndRegister</method>
                    </webinterpret_controller_front_init_before>
                </observers>
            </controller_front_init_before>
        </events>
        <request>
            <direct_front_name>
                <webinterpret_connector/>
                <glopal/>
            </direct_front_name>
        </request>
        <rewrite>
            <glopal_url>
                <from><![CDATA[/glopal\/(.+)/]]></from>
                <to><![CDATA[glopal/index/index/$1]]></to>
                <complete>1</complete>
            </glopal_url>
        </rewrite>
    </global>
    <frontend>
        <routers>
            <webinterpret_connector>
                <use>standard</use>
                <args>
                    <module>Webinterpret_Connector</module>
                    <frontName>webinterpret_connector</frontName>
                </args>
            </webinterpret_connector>
            <glopal>
                <use>standard</use>
                <args>
                    <module>Webinterpret_Connector</module>
                    <frontName>glopal</frontName>
                </args>
            </glopal>
        </routers>
        <layout>
            <updates>
                <webinterpret_connector>
                    <file>webinterpret/connector.xml</file>
                </webinterpret_connector>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <webinterpret_connector>
                    <file>webinterpret/connector.xml</file>
                </webinterpret_connector>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <webinterpret_connector>
            <enabled><![CDATA[1]]></enabled>
            <key><![CDATA[]]></key>
            <file_repository><![CDATA[https://webstores.webinterpret.com]]></file_repository>
            <footer_enabled><![CDATA[1]]></footer_enabled>
            <footer><![CDATA[]]></footer>
            <tracking_code><![CDATA[]]></tracking_code>
            <plugin_id><![CDATA[]]></plugin_id>
            <head><![CDATA[]]></head>
            <installation_mode><![CDATA[1]]></installation_mode>
            <global_notifications_enabled><![CDATA[1]]></global_notifications_enabled>
            <automatic_updates_enabled><![CDATA[1]]></automatic_updates_enabled>
            <store_extender_enabled><![CDATA[0]]></store_extender_enabled>
            <store_extender_url><![CDATA[https://wi-ws-store-ext.glopal.com/index.php]]></store_extender_url>
            <public_key><![CDATA[-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA6YW1LitbxWceRjvGZnwd
h7/NH0Gbmnt+jEpC99KJuu4wPV+AyByUV3KxOwo6fUWozsts2tSgg3hgxnTEwjwF
XqFdft5pE794YLRtYnBMaMYkcAyl9nZTYimKT+fz+MfKceMIkFmvOVh8IMPjHLV+
7GOjBnrUxUl2/z/ohE9wUyxhP7Zo4HpHNDyDsHCBpANWVoRs9n5sBBb4cnBVIXBl
AJuWmf5c0NkMim6Sj5mM3fKb0vDhykU9IXIbQMn5cw5+g4Qy6ldcrXNm+M3+4JzW
XGqwtKrXbKLJTlA+H57szT4wYOBT1HGeDD9vFDOwTq2AjNN3mcOJawMbkiZ3sJG3
/rHMptZtE6ToMbdC/PW2neLcalpgclxafoSoD9byIYA3qWYN3GAEDGJa4UHIcZpv
nUxdL5qUgJAz2q/rk7blCSIRwLv85jQtArlfsdoxp3F3iaahjz9sB/VX1xZ6YOJH
uZGGd1aUimDOAgVfmqeFOvTEBQFYTpGg9W7TyMIqvfAqPUtOxDmzB6fNxPd45W3s
azayJumvfHBOs53t6fI/a52CfQ2I4jaz3eHI0hpHyZVxvsAj5NbFXBYzQ+mOoTEa
38d6cBHbci6rLRJ0PdaP6ZABz9OI3UE8VCz5n5BZEJ0QWmXmnn2YnWq8p3Si53KK
tQMgSP58oPZ6Nq6qM6KrlmkCAwEAAQ==
-----END PUBLIC KEY-----]]></public_key>
            <inventory_manager_url><![CDATA[https://d1f68rsmoq5ae3.cloudfront.net]]></inventory_manager_url>
            <backend_redirector_enabled><![CDATA[0]]></backend_redirector_enabled>
        </webinterpret_connector>
    </default>
</config>
