<?xml version="1.0"?>
<!--
    @category   Webinterpret
    @package    Webinterpret_Connector
    @author     Webinterpret Team <info@webinterpret.com>
    @license    http://opensource.org/licenses/osl-3.0.php
-->
<config>
    <modules>
        <Webinterpret_Connector>
            <version>1.2.7.7</version>
        </Webinterpret_Connector>
    </modules>
    <global>
        <models>
            <webinterpret_connector>
                <class>Webinterpret_Connector_Model</class>
            </webinterpret_connector>
        </models>
        <blocks>
            <webinterpret_connector>
                <class>Webinterpret_Connector_Block</class>
            </webinterpret_connector>
        </blocks>
        <helpers>
            <webinterpret_connector>
                <class>Webinterpret_Connector_Helper</class>
            </webinterpret_connector>
        </helpers>
        <events>
            <admin_system_config_changed_section_webinterpret_connector>
                <observers>
                    <webinterpret_connector_admin_system_config_changed_section_webinterpret_connector>
                        <type>singleton</type>
                        <class>Webinterpret_Connector_Model_Observer</class>
                        <method>hookIntoAdminSystemConfigChangedSectionWebinterpretConnector</method>
                    </webinterpret_connector_admin_system_config_changed_section_webinterpret_connector>
                </observers>
            </admin_system_config_changed_section_webinterpret_connector>
            <adminhtml_init_system_config>
                <observers>
                    <webinterpret_adminhtml_init_system_config>
                        <type>singleton</type>
                        <class>Webinterpret_Connector_Model_Observer</class>
                        <method>hookIntoAdminhtmlInitSystemConfig</method>
                    </webinterpret_adminhtml_init_system_config>
                </observers>
            </adminhtml_init_system_config>
            <webinterpret_connector_notifications_before>
                <observers>
                    <webinterpret_connector_notifications_before>
                        <type>singleton</type>
                        <class>Webinterpret_Connector_Model_Observer</class>
                        <method>hookIntoWebinterpretConnectorNotificationsBefore</method>
                    </webinterpret_connector_notifications_before>
                </observers>
            </webinterpret_connector_notifications_before>
        </events>
        <request>
            <direct_front_name>
                <webinterpret_connector/>
            </direct_front_name>
        </request>
    </global>
    <frontend>
        <routers>
            <webinterpret_connector>
                <use>standard</use>
                <args>
                    <module>Webinterpret_Connector</module>
                    <frontName>webinterpret_connector</frontName>
                </args>
            </webinterpret_connector>
        </routers>
        <layout>
            <updates>
                <webinterpret_connector>
                    <file>webinterpret/connector.xml</file>
                </webinterpret_connector>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <webinterpret_connector>
                    <file>webinterpret/connector.xml</file>
                </webinterpret_connector>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <webinterpret_connector>
            <enabled><![CDATA[1]]></enabled>
            <key><![CDATA[]]></key>
            <file_repository><![CDATA[https://webstores.webinterpret.com]]></file_repository>
            <footer_enabled><![CDATA[1]]></footer_enabled>
            <footer><![CDATA[]]></footer>
            <tracking_code><![CDATA[]]></tracking_code>
            <plugin_id><![CDATA[]]></plugin_id>
            <head><![CDATA[]]></head>
            <installation_mode><![CDATA[1]]></installation_mode>
            <global_notifications_enabled><![CDATA[1]]></global_notifications_enabled>
            <automatic_updates_enabled><![CDATA[1]]></automatic_updates_enabled>
        </webinterpret_connector>
    </default>
</config>
